html {
  background-color: lightblue;
}
body {
  width: 1000px;
  background: url("https://cdn-media-1.freecodecamp.org/imgr/MJAkxbh.png");
  margin: 0 auto;
  padding: 0 20px 20px 20px;
  border: 5px solid blue;
  display: block;
  align-items: center;
}
h1 {
  margin: 0;
  padding: 20px 0;
  color: black;
  text-shadow: 3px 3px 1px grey;
  text-align: center;
  background-color: lightyellow;
}
legend {
  margin-left: 0px;
  padding-left: 0px;
  text-align: left;
}
h4 {
  margin-top: 0px;
  padding-left: 100px;
  background-color: yellow;
  text-align: left;
  display: block;
  border: 2px solid red;
}
ul, ol {
  margin: auto;
  width: 800px;
  text-align: left;
  background-color: lightblue;
}
p {
  border: 2px solid black;
  padding: 10px 5px 10px 5px;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  line-height: 2;
  letter-spacing: 1px;
  text-align: justify;
  margin: 10px auto;
  background-color: lightgreen;
}
a:hover{
  color: green;
  font-style: italic;
  font-size: 25px;
}
img {
  width: 10%;
  height: auto;
  display: block;
  margin: 0 auto;
}
img:hover{
  width: 30%;
  height: 30%;
  align-items: center;
}
#source {
  background-color: lightgreen;
}
